<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href=""><i class="fa-solid fa-network-wired"></i></a>
          <ul>
          <li><a href="" (click)="ResNet50(); $event.preventDefault()">ResNet50</a></li>
          <li><a href="" (click)="VGG16(); $event.preventDefault()">VGG16</a></li>
          <li><a href=""(click)="InceptionV3(); $event.preventDefault()">InceptionV3</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fa-solid fa-folder"></i></a>
          <input type="file" #fileInput style="display: none;">
          <ul>
            <!-- WIP Will be able to dynamically list the datasets under the folder icon -->
            <!-- <li *ngFor="let ds of Datasets">
              {{ ds.$value }}
            </li> -->

          <!-- <li><a href= "" (click)="Dataset1(); $event.preventDefault()">[getNameFromFirebase or (default)Dataset1]</a></li> -->
          <li><a href=""(click)="Dataset1(); $event.preventDefault()">Dataset1</a></li>
          <li><a href=""(click)="Dataset2(); $event.preventDefault()">Dataset2</a></li>
          <li><a href=""(click)="Dataset3(); $event.preventDefault()">Dataset3</a></li>
          
          <!-- <li><a href="">Dataset 1</a></li>
          <li><a href="">Dataset 2</a></li>
          <li><a href="">Dataset 3</a></li> -->
          </ul>
        </li>
        <li><a href=""><i class="fa-solid fa-minimize"></i></a>
          <ul>
          <li><a href="">Principal Component Analysis</a></li>
          <li><a href="">t-SNE</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
      </ul>
</body>
</html>
