<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href=""><i class="fa-solid fa-network-wired"></i></a>
          <ul>
          <li><a href="" (click)="ResNet50(); $event.preventDefault()">ResNet50</a></li>
          <li><a href="" (click)="VGG16(); $event.preventDefault()">VGG16</a></li>
          <li><a href=""(click)="InceptionV3(); $event.preventDefault()">InceptionV3</a></li>
          </ul>
        </li>
        
        <!-- check toolbar.components.ts for Dataset() -->
        <li><a href="" (click)="Dataset(); $event.preventDefault()"><i class="fa-solid fa-folder"></i></a>
          <!-- <script>
            $("fa-solid fa-folder").on("click", function() {
                $("input").trigger("click");
            });
          </script> -->
          <label for="file"></label>
            <input type="file" id="file" name="file" accept="application/octet-stream, .jpg">
          <ul>
          <li><a href="">Dataset 1</a></li>
          <li><a href="">Dataset 2</a></li>
          <li><a href="">Dataset 3</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fa-solid fa-minimize"></i></a>
          <ul>
          <li><a href="">Principal Component Analysis</a></li>
          <li><a href="">t-SNE</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
      </ul>
</body>
</html>
